@media (max-width: 768px) {
  container {
    justify-content: center;
  }
  .box {
    width: 100%;
    max-width: 300px;

    background-color: #fff;
    margin-top: 20px;

    /* margin: 100px auto 20px; */
    padding: 40px 40px 70px;
    border-radius: 10px;
  }
  .row {
    padding-left: 30px;
    margin-bottom: 25px;
  }
  #input-text {
    padding: 6px 0;
    font-weight: 14px;
  }
  button {
    padding: 14px 40px;

    background-color: rgb(70, 162, 243);
  }
}
