@media (max-width: 768px) {
  .box {
    width: 100%;
    max-width: 350px;

    background-color: #fff;
    margin-top: 0px;

    /* margin: 100px auto 20px; */
    padding: 40px 30px 70px;
    border-radius: 10px;
  }
}
