body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: cornsilk; */
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(62, 56, 56), rgb(64, 138, 242));
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 100%;
  max-width: 440px;
  background-color: #fff;
  margin-top: 30px;

  /* margin: 100px auto 20px; */
  padding: 40px 30px 70px;
  border-radius: 10px;
}
h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1.7em;
  color: #333;
  margin-bottom: 2rem;
  margin-top: -1.5rem;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(221, 218, 218, 0.665); */
  background-color: rgba(205, 228, 235, 0.923);
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
#input-text {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  font-weight: 14px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  border-radius: 30px;
  background-color: rgb(82, 172, 250);
  color: white;
  cursor: pointer;
  font-size: 16px;
}

ul li {
  list-style: none;
  cursor: pointer;
  user-select: none;
  padding: 14px 8px 12px 20px;
  position: relative;
  font-size: 17px;
}

ul li::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid rgb(70, 174, 243);
  /* background-image: url(images.png); */

  background-size: cover;
  background-position: center;
  text-align: center;
  top: 12px;
  left: 8px;

  margin-left: -2rem;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
  border: none;
}
ul li.checked::before {
  background-image: url(3.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background-color: rgba(205, 228, 235, 0.923);
}
